html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.font {
    font-family: "Segoe UI", "Open Sans", Arial, sans-serif;
    font-size: large;
}

.start-screen {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    text-align: center;
    overflow-y: hidden;
}

.start-title {
    text-align: center;
    margin-top: 2vh;
    font-size: 5em;
}

.start-button {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 120vh;
    height: 20vh;
    background-color: #ffffff;
    border: solid black;
    border-radius: 25px;
    display: block;
    font-size: 4em;
}

.start-button:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.game-screen {
    display: none;
    width: 100%;
    height: 100%;
}

.left-sidebar {
    width: 19%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #f2f2f2;
    overflow-x: hidden;
    border-right: solid black;
}

.right-sidebar {
    width: 19%;
    height: 100%;
    float: right;
    text-align: center;
    background-color: #f2f2f2;
    overflow-x: hidden;
    border-left: solid black;
}

.title-bar {
    width: 61.675%;
    height: 12vh;
    box-sizing: border-box;
    padding-inline: 2.5%;
    background-color: #fef8e6;
    overflow-x: hidden;
    text-align: center;
}

.title-text {
    margin-top: 2vh;
    font-size: xx-large;
}

.main-content {
    width: 61.675%;
    height: 83vh;
    box-sizing: border-box;
    padding-inline: 2.5%;
    float: left;
    background-color: #fef8e6;
    overflow-x: hidden;
}

.input-bar {
    width: 61.42%;
    height: 4.2vh;
    border: none;
    border-top: solid black;
    font-size: large;
}

.input-bar:focus {
    outline: none;
}

.icon-button {
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    width: 20vh;
    height: 20vh;
    background-color: #ffffff;
    border: solid black;
    border-radius: 25px;
    display: inline-block;
}

.icon-button:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.icon {
    padding: 1.5vh 0; 
    font-size: 5em;
}

.health-bar {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 35vh;
    height: 10vh;
    margin: 0 10px;
    accent-color: red;
}

.health-text {
    position: absolute;
    top: 3.5vh;
    left: 21.5%;
    font-size: large;
    font-weight: bold;
    color: white;
}

.mana-bar {
    position: absolute;
    top: 0%;
    right: 20%;
    width: 35vh;
    height: 10vh;
    margin: 0 10px;
    accent-color: blue;
}

.mana-text {
    position: absolute;
    top: 3.5vh;
    right: 32%;
    font-size: large;
    font-weight: bold;
    color: white;
}

.content-text {
    font-size: large;
}