html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.font {
    font-family: "Segoe UI", "Open Sans", Arial, sans-serif;
    font-size: large;
}

.left-sidebar {
    width: 19%;
    height: 100%;
    float: left;
    text-align: center;
    background-color: #f2f2f2;
    overflow-x: hidden;
    border-right: solid black;
}

.right-sidebar {
    width: 19%;
    height: 100%;
    float: right;
    text-align: center;
    background-color: #f2f2f2;
    overflow-x: hidden;
    border-left: solid black;
}

.main-content {
    width: 61.675%;
    height: 95vh;
    box-sizing: border-box;
    padding-inline: 2.5%;
    float: left;
    background-color: #fef8e6;
    overflow-x: hidden;
}

.input-bar {
    width: 61.42%;
    height: 4.2vh;
    border: none;
    border-top: solid black;
    font-size: large;
}

.input-bar:focus {
    outline: none;
}

.icon-button {
    margin-top: 10vh;
    margin-left: 5vh;
    margin-right: 5vh;
    width: 20vh;
    height: 20vh;
    background-color: #ffffff;
    border: solid black;
    border-radius: 25px;
    display: inline-block;
}

.icon-button:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.health-bar {
    position: absolute;
    top: 2%;
    left: 20%;
    width: 40vh;
    height: 5vh;
    background-color: #ffffff;
    border: solid black;
    border-radius: 50px;
}

.mana-bar {
    position: absolute;
    top: 2%;
    right: 20%;
    width: 40vh;
    height: 5vh;
    background-color: #ffffff;
    border: solid black;
    border-radius: 50px;
}

.bar-text {
    margin: auto;
    width: 100%;
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: large;
}

.title-text {
    text-align: center;
    margin-top: 2vh;
}

.content-text {
    font-size: large;
}